.Admin .component-fourth {
    display: grid;
    grid-template:
            "attendance 1fr reccomendation" ;

}

.Admin .component-fourth .recommendation-container {
    grid-area: reccomendation;
}

.Admin .component-fourth .attendance-container {
    grid-area: attendance;
}

.Admin .component-fourth button {
    background-color: #F5D1EB;
    border: 1px solid #CB4286;
    box-shadow: none;
    color: #7A3B6E;
    line-height: 1;
    padding: 9px 15px;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    width: auto;
    cursor: pointer;
    border-radius: 3px;
}
